---
import { object } from "astro:schema";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index"; 
//const tags = ['astro', 'blogging', 'learning in public', 'successes', 'setbacks', 'community']
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

---

<BaseLayout pagetitle={pageTitle}/>
<div class="tags">
    {tags.map((tag) => <p class="tags">
        <a href={`/tags/${tag}`}>{tag}</a>
        </p>)}
</div>
<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
      padding: .5em 1em;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    
    }
  </style>