---
import type { AstroJSX } from 'astro/jsx-runtime';
import Navigation from './Navigation.astro';
import Hamburger from './Hamburgermenu.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation/>
    </nav>
</header>